include header
+header("bassBuilder")

.displayCon
    #display
        +divs
        #bassNoteCon
        #playHead

.configPanel.bass
    .bassConfigControl
        h3= "Type"

        .toggleSelect
            .toggleOption.selected= "Guitar"
            .toggleOption= "808"

    .bassConfigControl
        h3= "Intensity"
        input.slider#intensitySlider(type="range" min="0" max="1" value="0.2" step="0.01" oninput="setIntensity(this.value)")


script.
  loadBassBuilder();