extends layout

block content
    script(src = "/javascripts/chordBuilder/chordBuilder.js")

    +header("chordBuilder")

    .chordDisplayCon
        #display
            #divDisp

    .chordConfigPanel