extends layout

block content
    script(src = "/javascripts/chordBuilder/chordBuilder.js")

    +header("chordBuilder")

    .chordDisplayCon
        #display
            #divDisp
            #chordNoteCon
            #playHead

    .chordConfigPanel
        .instrumentPanel
            h3= "Spread"
            input#spreadSlider.slider(type="range", min="0", max="1", value="0.5", step="0.01", oninput="ShowChords();")
