include header
+header("constructor")

#tracks
    #playHeadCon
        #playHead
    .trackCon
        .trackButton
            a(href="/constructor/drums" data-link)
                .i.fas.fa-drum.trackIcon
            .muteSoloSwitch
                .muteButton(data-inst="drums" onclick="toggleMute('drums');")= "M"
                .soloButton(data-inst="drums" onclick="toggleSolo('drums');")= "S"
        .trackDisp
            +divs
            .instrumentCon
                .instrumentDisp#kickDisp
                .instrumentDisp#chDisp
                .instrumentDisp#snareDisp
                .instrumentDisp#percDisp
    .trackCon
        .trackButton
            a(href="/constructor/chords" data-link)
                .i.fas.fa-music.trackIcon
            .muteSoloSwitch
                .muteButton(data-inst="chords" onclick="toggleMute('chords');")= "M"
                .soloButton(data-inst="chords" onclick="toggleSolo('chords');")= "S"
        .trackDisp
            +divs
            .instrumentCon
                .instrumentDisp#chordNoteCon
    .trackCon
        .trackButton
            a(href="/constructor/bass" data-link)
                .i.fas.fa-guitar.trackIcon
            .muteSoloSwitch
                .muteButton(data-inst="bass" onclick="toggleMute('bass');")= "M"
                .soloButton(data-inst="bass" onclick="toggleSolo('bass');")= "S"
        .trackDisp
            +divs
            .instrumentCon
                .instrumentDisp#bassNoteCon
    .trackCon
        .trackButton
            a(href="/constructor/melo" data-link)
                .i.fas.fa-bolt.trackIcon
            .muteSoloSwitch
                .muteButton(data-inst="melo" onclick="toggleMute('melo');")= "M"
                .soloButton(data-inst="melo" onclick="toggleSolo('melo');")= "S"
        .trackDisp
            +divs
            .instrumentCon
                .instrumentDisp#meloNoteCon

script.
  loadConstructor();