extends layout

mixin divs
    .trackDivs
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv

block content
    div(style = "display: none;")
        script(src = "/javascripts/drumBuilder/drumNoteManager.js")
        script(src = "/javascripts/constructor/displayElementManager.js")
        script(src = "/javascripts/constructor/constructor.js")

    +header("constructor")

    #tracks
        #playHeadCon
            #tracksPlayhead
        .trackCon
            .trackButton
                a(href="/drums")
                    .i.fas.fa-drum.trackIcon
            .trackDisp
                +divs
                .instrumentCon
                    .instrumentDisp#kickDisp
                    .instrumentDisp#chDisp
                    .instrumentDisp#snareDisp
                    .instrumentDisp#percDisp