extends layout

mixin divs
    .trackDivs
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv
        .trackDiv

block content
    +header("constructor")

    div(style = "display: none;")
        script(src = "/javascripts/drumBuilder/drumNoteManager.js")
        script(src = "/javascripts/chordBuilder/chordNoteManager.js")
        script(src = "/javascripts/constructor/constructor.js")

    #tracks
        #playHeadCon
            #trackPlayhead
        .trackCon
            .trackButton
                a(href="/drums")
                    .i.fas.fa-drum.trackIcon
            .trackDisp
                +divs
                .instrumentCon
                    .instrumentDisp#kickDisp
                    .instrumentDisp#chDisp
                    .instrumentDisp#snareDisp
                    .instrumentDisp#percDisp
        .trackCon
            .trackButton
                a(href="/chords")
                    .i.fas.fa-music.trackIcon
            .trackDisp
                +divs
                .instrumentCon
                    .instrumentDisp#chordNoteCon