mixin header(page)
    script(src = "/javascripts/constructor/bufferLoader.js")
    script(src = "/javascripts/constructor/audioManager.js")
    script(src = "/javascripts/constructor/playManager.js")
    script(src = "/javascripts/header.js")


    .topBar
        h1.title= "Midi Ting Fi Real"

        #toolBar
            if page === "drumBuilder"
                a(href="/constructor")
                    i.fas.fa-drum.icon#leaveInstrument(onmouseover="toggleLeaveInstrumentIcon();", onmouseleave="toggleLeaveInstrumentIcon();")

                #seedCon
                    #seedPrefix= "Seed"
                    input#seedInput(type="number", step="1", value="000", min="0", max="999", maxlength="3", oninput="seedModel();")
                    i.fas.fa-dice.icon#randomSeedButton

            #tempoCon
                input#tempoInput(type="number", step="1", value="130", min="1", max="300", maxlength="3" oninput="setTempo(this.value);")
                #bpmSuffix= "bpm"

            p#metronomeButton(onclick="toggleMetronome(this);")= "1234"

            i.fas.fa-play.icon#playButton