include header
+header("meloBuilder")

.displayCon
    #display
        +divs
        #meloNoteCon
        #playHead

#playBar
    #miniPlayHead

.configPanel.melo
    .meloConfigPanel
        #doubleMeloButton.icon(onclick="doubleMelo()")= "X2"
        #legatoButton.fas.fa-angle-double-right.icon(onclick="legatoMelo()")

script.
  loadMeloBuilder();