include header
+header("meloBuilder")

.displayCon
    #display
        +divs
        #meloNoteCon
        #playHead

#playBar
    #miniPlayHead

.configPanel.melo
    .meloConfigPanel

script.
  loadMeloBuilder();