:root {
    --patternAmt: 16;
    --patternInfoWidth: 80px;
}

#removeSectionButton, #cloneSectionButton, #addSectionButton {
    margin-left: 20px;
}

#patternLengthLabel {
    margin: auto 5px auto 10px;
    font-size: min(3vw, 30px);
}

#playBar.arranger {
    width: calc(100% - var(--patternInfoWidth));
    margin-left: auto;
}

#nameBox {
    height: 40px;
    width: 30vw;
    text-transform: uppercase;
    font-size: 25px;
    outline: none;
    padding: 0 5px 0 5px;
}

#lengthSlider {
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
}

#nameBox:focus {
    box-shadow: 0 0 5px white;
}

#infoPanel {
    height: 100%;
}

#modifyPanel {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.sectionHighlight.show {
    box-shadow: 0 0 3px 2px white;
    background-color: transparent;
    z-index: 15;
}

.sectionHighlight {
    position: absolute;
    width: 12.5%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1px 1px white;
    transition: 100ms;
}

.songSection:first-child {
    border-radius: 5px 0 0 5px;
}

.songSection:last-child {
    border-radius: 0 5px 5px 0;
}

.songSection, .hiddenSect, .floatSect {
    height: 100%;
    position: relative;
}

.songSection:not(.hidden), .floatSect:not(.hidden) {
    background-image: linear-gradient(var(--green) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.songSection.selected:not(.hidden), .floatSect.selected:not(.hidden) {
    background-image: linear-gradient(var(--blue) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--blue);
    background-color: var(--dispColor);
    z-index: 3;
}

.selected.absolute:not(.hidden) {
    background-image: linear-gradient(var(--red) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--red);
}

.floatSect {
    position: absolute;
    background-color: var(--dispColor);
    z-index: 5;
}

.songSection.hidden {
    color: transparent;
}

#timeLine {
    height: min(60px, 6vw);
    width: calc(100% - var(--patternInfoWidth));
    background-color: var(--dispColor);
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 5px;
    margin: 7px 0 0 var(--patternInfoWidth);
}

#arrangerPlayHeadCon {
    position: absolute;
    right: 0;
    width: calc(100% - var(--patternInfoWidth));
    height: 100%;
    overflow: hidden;
}

.pattern {
    height: 100%;
    width: calc(100% / var(--patternAmt));
    position: absolute;
    box-sizing: border-box;
    transition: 100ms;
}

.pattern.chords, .pattern.bass, .pattern.snare, .pattern.perc {
    background-image: linear-gradient(var(--purple) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--purple);
}

.pattern.melo, .pattern.kick, .pattern.ch {
    background-image: linear-gradient(var(--darkblue) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--darkblue);
}

.patternDisplay {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.patternArrangement {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    background-color: var(--dispColor);
    position: relative;
}

.patternCon {
    flex-grow: 1;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
}

.patternCon:last-child {
    border-bottom: 0;
}

.patternInfo {
    width: var(--patternInfoWidth);
    height: 100%;
    background-color: var(--panelColor);
    display: flex;
    align-items: center;
    justify-content: center;
}