:root {
    --patternAmt: 16;
    --patternInfoWidth: 80px;
}

#sectionHighlight {
    width: 12.5%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px white;
}

.songSection, .hiddenSect, .floatSect {
    height: 100%;
    position: relative;
}

.songSection, .floatSect {
    background-image: linear-gradient(var(--green) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.songSection.selected, .floatSect.selected {
    background-image: linear-gradient(var(--blue) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--blue);
    background-color: var(--dispColor);
    z-index: 3;
}

.floatSect {
    position: absolute;
    background-color: var(--dispColor);
    z-index: 5;
}

.hiddenSect {
    color: transparent;
}

#timeLine {
    height: 40px;
    width: 100%;
    background-color: var(--dispColor);
    display: flex;
    flex-direction: row;
    position: relative;
}

#arrangerPlayHeadCon {
    position: absolute;
    right: 0;
    width: calc(100% - var(--patternInfoWidth));
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.pattern {
    height: 100%;
    width: calc(100% / var(--patternAmt));
    position: absolute;
    box-sizing: border-box;
    transition: all 300ms;
}

.pattern.chords, .pattern.bass, .pattern.snare, .pattern.perc {
    background-image: linear-gradient(var(--purple) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--purple);
}

.pattern.melo, .pattern.kick, .pattern.ch {
    background-image: linear-gradient(var(--darkblue) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--darkblue);
}


.patternDisplay {
    flex-grow: 1;
    position: relative;
}

.patternArrangement {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    background-color: var(--dispColor);
    position: relative;
}

.patternCon {
    flex-grow: 1;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
}

.patternCon:last-child {
    border-bottom: 0;
}

.patternInfo {
    width: var(--patternInfoWidth);
    height: 100%;
    background-color: var(--panelColor);
    display: flex;
    align-items: center;
    justify-content: center;
}