:root {
    --patternAmt: 16;
    --patternInfoWidth: 80px;
}

#arrangerPlayHeadCon {
    position: absolute;
    right: 0;
    width: calc(100% - var(--patternInfoWidth));
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.pattern {
    height: 100%;
    width: calc(100% / var(--patternAmt));
    position: absolute;
    box-sizing: border-box;
    transition: all 300ms;
}

.pattern.chords {
    background-image: linear-gradient(var(--purple) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--purple);
}

.pattern.melo {
    background-image: linear-gradient(var(--darkblue) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--darkblue);
}

.pattern.bass {
    background-image: linear-gradient(var(--purple) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--purple);
}

.pattern.kick {
    background-image: linear-gradient(var(--darkblue) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--darkblue);
}

.pattern.snare {
    background-image: linear-gradient(var(--purple) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--purple);
}

.pattern.ch {
    background-image: linear-gradient(var(--darkblue) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--darkblue);
}

.pattern.perc {
    background-image: linear-gradient(var(--purple) 20%, transparent 100%);
    box-shadow: 0 0 5px var(--purple);
}

.patternDisplay {
    flex-grow: 1;
    position: relative;
}

.patternArrangement {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    background-color: var(--dispColor);
    position: relative;
}

.patternCon {
    flex-grow: 1;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
}

.patternCon:last-child {
    border-bottom: 0;
}

.patternInfo {
    width: var(--patternInfoWidth);
    height: 100%;
    background-color: var(--panelColor);
    display: flex;
    align-items: center;
    justify-content: center;
}