#chordNumButtons {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.checkbox {
    height: 30px;
    width: 30px;
    box-shadow: 0 0 4px 2px var(--purple);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.checkIcon {
    font-size: 20px;
    color: var(--iconHoverColor);
    transition: all 300ms;
}

.checkIcon:hover {
    text-shadow: 0 0 4px var(--iconColor);
    color: var(--iconColor);
}

.checkIcon.checked {
    text-shadow: 0 0 4px var(--green);
    color: var(--green);
}

.chordInfoBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chordInfoBar h3 {
    font-size: 20px;
}

.chordInfoBar > .icon {
    font-size: 30px;
}

.icon.disabled {
    opacity: 0;
}

.chordConfigPanel {
    height: 50%;
    margin: 7px;
}

.chordDisplayCon {
    width: 100%;
    flex-grow: 1;
    margin-top: 7px;
}

.chordNote {
    background-color: var(--blue);
    height: calc(100% / 60);
    position: absolute;
    box-shadow: 0 0 5px var(--blue);
    box-sizing: border-box;
    transition: all 300ms;
    z-index: 5;
}

.chordNote.root {
    background-color: var(--purple);
    box-shadow: 0 0 5px var(--purple);
}

.chordNote.ghost {
    background-color: var(--yellow);
    box-shadow: 0 0 5px var(--yellow);
}

.chordNote.ghost.root {
    background-color: var(--orange);
    box-shadow: 0 0 5px var(--orange);
}