:root {
    --trackButtWidth: min(20%, 180px);
}

#constructorPlayHeadCon {
    position: absolute;
    right: 0;
    width: calc(100% - var(--trackButtWidth));
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

#tracks {
    margin-top: 7px;
    flex-grow: 1;
    width: 100%;
    position: relative;
}

.trackCon {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.trackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: var(--trackButtWidth);
    flex-direction: column;
}

.trackDisp {
    background-color: var(--dispColor);
    flex-grow: 1;
    display: flex;
    position: relative;
}

.trackIcon {
    font-size: min(110px, min(15vw, 20vh));
    color: var(--iconColor);
    text-shadow: 0 0 10px var(--iconColor);
    transition: all 100ms;
    margin-bottom: 10px;
}

.trackIcon:hover {
    color: var(--iconHoverColor);
    text-shadow: 0 0 10px var(--iconHoverColor);
}

.trackIcon:active {
    color: var(--iconColor);
    text-shadow: 0 0 10px var(--iconColor);
}