:root {
    --trackButtWidth: min(20%, 180px);
}

#playHeadCon {
    position: absolute;
    right: 0;
    width: calc(100% - var(--trackButtWidth));
    height: 100%;
    z-index: 10;
}

#trackPlayhead {
    background-color: white;
    opacity: 0.5;
    width: 2px;
    height: 100%;
    margin: -0.5px;
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0 0 2px white;
}

.trackDivs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
}

.trackDiv {
    position: relative;
    height: 100%;
    width: 1px;
    background-color: white;
    opacity: 0.7;
    margin-left: calc(12.5% - 1px);
    flex-shrink: 0;
}

#tracks {
    margin-top: 7px;
    flex-grow: 1;
    width: 100%;
    position: relative;
}

.trackCon {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.trackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: var(--trackButtWidth);
}

.trackDisp {
    background-color: var(--dispColor);
    flex-grow: 1;
    display: flex;
    position: relative;
}

.trackIcon {
    font-size: min(15vw, 20vh);
    color: var(--iconColor);
    text-shadow: 0 0 10px var(--iconColor);
    transition: all 100ms;
}

.trackIcon:hover {
    color: var(--iconHoverColor);
    text-shadow: 0 0 10px var(--iconHoverColor);
}

.trackIcon:active {
    color: var(--iconColor);
    text-shadow: 0 0 10px var(--iconColor);
}