/* Config panel stuff--------------------------------------------------------------*/
.instrumentControls.perc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.percOptions {
    display: flex;
    flex-direction: row;
}

.instrumentPanel {
    background-color: var(--panelColor);
    padding: min(15px, 3vw);
    position: relative;
    display: flex;
    flex-direction: column;
}

.instrumentInfo {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
}

.soundUpload {
    box-shadow: 0 0 4px 1px white;
    border-radius: 5px;
    padding: 0.5vw;
    width: 25%;
    font-size: 2vmin;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 200ms;
}

.soundUpload:hover {
    box-shadow: 0 0 4px 1px var(--orange);
}

.muteSoloSwitch {
    display: flex;
    width: 10vw;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px white;
}

.muteSoloSwitch > * {
    font-size: 2vmin;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw;

    cursor: pointer;
    transition: all 200ms;
}

.muteButton {
    border-radius: 5px 0 0 5px;
}

.muteButton.selected {
    background-color: var(--red);
    box-shadow: 0 0 4px 1px var(--red);
}

.muteButton:hover:not(.selected) {
    box-shadow: 0 0 4px 1px var(--red);
}

.soloButton {
    border-radius: 0 5px 5px 0;
}

.soloButton.selected {
    background-color: var(--darkblue);
    box-shadow: 0 0 4px 1px var(--darkblue);
}

.soloButton:hover:not(.selected) {
    box-shadow: 0 0 4px 1px var(--darkblue);
}

.hihatPanel {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.kickPanel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.snarePanel {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.percPanel {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Display Elements----------------------------------------------------------*/
.mainDisp {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.labelCon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* UI Controls-------------------------------------------------------------------- */
.barSelectCon {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 4px 1px var(--green);
    border-radius: 5px;
    height: 100%;
    width: max(min(10vw, 80px), 30px);
    margin: 10px 0 10px 0;
}

@media only screen and (min-width: 900px) {
    .barSelectCon {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 80%;
        width: 15vw;
        position: relative;
        top: 10%;
    }

    .barOption:first-child {
        border-radius: 5px 0 0 0;
    }

    .barOption:nth-child(4) {
        border-radius: 0 5px 0 0;
    }

    .barOption:nth-child(5) {
        border-radius: 0 0 0 5px;
    }

    .barOption:last-child {
        border-radius: 0 0 5px 0;
    }
}

@media only screen and (max-width: 900px) {
    .barOption:first-child {
        border-radius: 5px 0 0 0;
    }

    .barOption:nth-child(2) {
        border-radius: 0 5px 0 0;
    }

    .barOption:nth-child(7) {
        border-radius: 0 0 0 5px;
    }

    .barOption:last-child {
        border-radius: 0 0 5px 0;
    }
}

.barOption:hover {
    box-shadow: 0 0 5px 2px var(--green);
}

.barOption {
    flex-grow: 1;
    text-align: center;
    transition: all 500ms;
    font-size: min(3vw, 20px);

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid var(--green);
    box-sizing: border-box;
}

.barOption.selected {
    background-color: var(--green);
    box-shadow: 0 0 4px 1px var(--green);
}

.barOption:hover:not(.selected) {
}