:root {
    --headerHeight: 60px;
}

#drumCloneButton {
    color: var(--dispColor);
    text-shadow: 0 0 0 transparent;
}

#drumCloneButton.cloneOn {
    color: white;
    text-shadow: 0 0 3px white;
}

#drumCloneButton:hover {
    color: var(--iconHoverColor);
    text-shadow: 0 0 3px var(--iconHoverColor);
}

#drumCloneButton:active {
    color: white;
    text-shadow: 0 0 3px white;
}

#keyNoteCon {
    display: flex;
    flex-direction: row;
}

#keyNoteCon .prefix {
    width: 3.5ch;
}

#keyNoteCon .inputBox {
    width: 2ch;
}

#keyTypeCon {
    box-shadow: 0 0 4px 2px var(--orange);
    border-radius: 5px;
    height: min(35px, 3.7vw);
    width: min(80px, 10vw);
    display: flex;
    flex-direction: row;
    margin: 2vw;
}

.keyType {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(5vw, 40px);
    text-shadow: 0 0 3px white;
}

.keyType.selected {
    background-color: var(--orange);
    box-shadow: 0 0 4px 2px var(--orange);
}

.keyType:first-child {
    border-radius: 5px 0 0 5px;
}

.keyType:last-child {
    border-radius: 0 5px 5px 0;
}

.topBar {
    background-color: var(--panelColor);
    height: var(--headerHeight);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#pageChange {
    margin-left: 15px;
}

#playButton {
    padding: 0 10px 0 5px;
}

.locBar {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.title {
    margin-left: 1vw;
    white-space: nowrap;
}

.toolBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-sign-out-alt {
    transform: rotate(-90deg) scale(1.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#tempoCon, #seedCon {
    display: flex;
    width: fit-content;
    align-items: center;
}

.inputBox {
    box-shadow: 0 0 4px 1px var(--purple);
    border-radius: 5px;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox, .prefix {
    background-color: transparent;
    border: 0;
    color: white;
    width: 3ch;
    padding: 0 0.5ch 0 0.5ch;
    font-weight: 100;
}

#bpmSuffix {
    width: 4ch;
    font-size: 4vmin;
    font-style: oblique;
    font-weight: bolder;
    cursor: pointer;

    transition: all 100ms;
    color: var(--iconColor);
    text-shadow: 0 0 3px var(--iconColor);
}

#bpmSuffix:hover {
    color: var(--iconHoverColor);
    text-shadow: 0 0 3px var(--iconHoverColor);
}

#bpmSuffix.barTap {
    color: var(--red);
    text-shadow: 0 0 3px var(--red);
}

#bpmSuffix.noteTap {
    color: var(--blue);
    text-shadow: 0 0 3px var(--blue);
}

.prefix {
    width: 5ch;
    display: flex;
    align-items: center;
}

#bpmSuffix, .inputBox, .prefix {
    font-size: min(max(3vw, 10px), 30px);
}

#metronomeButton {
    font-size: 3vmin;
    font-style: oblique;
    font-weight: bolder;
    cursor: pointer;

    transition: all 100ms;
    color: var(--dispColor);
    text-shadow: 0 0 0 transparent;
    margin: 1vw;
}

#metronomeButton:hover:not(.metOn) {
    color: var(--iconHoverColor);
    text-shadow: 0 0 3px var(--iconHoverColor);
}

#metronomeButton.metOn {
    color: white;
    text-shadow: 0 0 3px white;
}
