:root {
  --panelColor: #222222;
  --dispColor: #131313;
  --iconColor: #d9d9d9;
  --iconHoverColor: #3e3e3e;
  --purple: #c47ede;
  --blue: #71bfe3;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  text-transform: uppercase;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 100;
}

/* Config panel stuff--------------------------------------------------------------*/
.hihatPanel {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.kickPanel {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
 }

.snarePanel {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.percPanel {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.instrumentPanel {
  background-color: var(--panelColor);
  padding: 20px;
}

.configPanel {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 10px;
  width: 100%;
}
/* Display Elements----------------------------------------------------------*/

.displayCon {
  width: 100%;
  height: 150px;
  display: flex;
  margin-top: 10px;
}

.labelCon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.instrumentCon {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}

.instrumentDisp {
  height: 25%;
  position: relative;
}

.divDisp{
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}

.display{
  width: 100%;
  height: 100%;
  background-color: var(--dispColor);
  box-shadow: 0 0 10px var(--dispColor);
  display:flex;
  position: relative;
}

.playHead{
  background-color: white;
  opacity: 0.5;
  width: 2px;
  height: 100%;
  margin: -0.5px;
  position: absolute;
  box-sizing: border-box;
  z-index: 10;
  box-shadow: 0 0 2px white;
}

.note{
  background-color: var(--blue);
  width: calc(60% / 256);
  height: 100%;
  position: absolute;
  box-shadow: 0 0 5px var(--blue);
  box-sizing: border-box;
  transition: all 200ms;
}

.division{
  background-color: white;
  box-shadow: 0 0 2px white;
  width: 1px;
  height: 100%;
  margin: -0.5px;
  position: absolute;
}

/* Top bar things-----------------------------------------------------------------*/
.topBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--panelColor);
  padding: 0 2vw 0 2vw;
  height: 60px;
}

.title {
  font-size: min(4vw, 35px);
  margin: 0;
}

.fas.fa-play, .fas.fa-pause {
  float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.tempoCon{
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 5px;
}

.tempoInfo {
  box-shadow: 0 0 4px 1px var(--purple);
  border-radius: 5px;
}

.tempoInfo, .bpmSuffix{
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 30px;
  width: 3ch;
  padding: 0 0.5ch 0 0.5ch;
  font-weight: 100;
}

.icon{
  font-size: 35px;
  color: var(--iconColor);
  text-shadow: 0 0 3px var(--iconColor);
  transition: all 100ms;
}

.icon:hover{
  color: var(--iconHoverColor);
  text-shadow: 0 0 3px var(--iconHoverColor);
}

.icon:active{
  color: var(--iconColor);
  text-shadow: 0 0 3px var(--iconColor);
}

.metIcon{
  font-size: 4vw;
  font-style: oblique;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;
  transition: all 100ms;
  color: var(--dispColor);
  text-shadow: 0 0 0 transparent;
  margin: 0;
}

.metIcon:hover:not(.metOn){
  color: var(--iconHoverColor);
  text-shadow: 0 0 3px var(--iconHoverColor);
}

.metOn{
  color: white;
  text-shadow: 0 0 3px white;
}

/* UI Controls-------------------------------------------------------------------- */
.snareSelect {
  display: flex;
  font-size: 6vw;
  width: 60%;
  margin: 30px auto 0 auto;
  box-shadow: 0 0 4px 1px var(--purple);
  border-radius: 5px;
}

.option{
  flex-grow: 1;
  text-align: center;
  user-select: none;
  transition: all 500ms;
}

.option.left {
  border-radius: 5px 0 0 5px;
}

.option.right {
  border-radius: 0 5px 5px 0;
}

.option.selected {
  background-color: var(--purple);
}

.slider {
  appearance: none;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--purple);
  box-shadow: 0 0 5px 1px var(--purple);
}

.slider::-moz-range-thumb {
  width: 7px;
  height: 20px;
  background: white;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 2px white;
}